tabWidth: 2
printWidth: 80
singleQuote: true
plugins: ['prettier-plugin-blade', 'prettier-plugin-tailwindcss']
overrides:
  - files:
      - '*.blade.php'
    options:
      parser: 'blade'
      semi: true
