@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply text-4xl;
    }

    .form-control {
        @apply block w-full px-4 py-2 bg-slate-100 my-2;
    }

    .btn {
        @apply inline-block px-4 py-2 cursor-pointer select-none;
    }

    .htmx-swapping,
    .htmx-settling {
        transition: opacity 500ms ease;
    }

    .htmx-swapping {
        opacity: 0;
    }

    .htmx-added {
        opacity: 1;
    }
}
