@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply text-4xl;
    }

    .form-control {
        @apply block w-full px-4 py-2 bg-slate-100;
    }

    .btn {
        @apply inline-block cursor-pointer select-none px-4 py-2 active:translate-y-1 transition-transform focus:ring-4 focus:ring-blue-500 focus:bg-slate-700;
    }

    .htmx-swapping,
    .htmx-settling {
        transition: opacity 500ms ease;
    }

    .htmx-swapping {
        opacity: 0;
    }

    .htmx-added {
        opacity: 1;
    }
}
